@charset "UTF-8";

/* ------------------------------------------
  RESET
--------------------------------------------- */

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


/* ------------------------------------------
  BASE DEMO STYLES
--------------------------------------------- */

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #fff;
  font: normal 100%/1.4 sans-serif;
}

section {
  border-bottom: 1px solid #999;
  float: left;
  width: 100%;
  height: 800px;
}


/* ------------------------------------------
  NAVIGATION STYLES
  (+ responsive-nav.css file is loaded in the <head>)
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

.nav-collapse li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: 25%;
    *width: 24.9%; /* IE7 Hack */
    _width: 19%; /* IE6 Hack */
  }
}

.nav-collapse a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  background: #403D3A;
  border-bottom: 1px solid white;
  padding: 0.7em 1em;
  float: left;
}
.nav-collapse a:hover {
  background: #53514E;
}

@media screen and (min-width: 40em) {
  .nav-collapse a {
    margin: 0;
    padding: 1em;
    float: left;
    text-align: center;
    border-bottom: 0;
    border-right: 1px solid white;
  }
}

.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

@media screen and (min-width: 40em) {
  .nav-collapse ul ul a {
    display: none;
  }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #ffffff; /* Edit this to change the icon color */
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 28px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-toggle.active::before {
  font-size: 24px;
  content:"x";
}

.banner { position: relative; overflow: auto;}
.banner li { list-style: none; }
.banner ul li { float: left; }


.banner .dots {
    position: absolute;
    left: 40px;
    right: 0;
    bottom: 20px;
}
.banner .dots li {
    display: inline-block;
    width: 30px;
    height: 8px;
    margin: 0 4px;

    text-indent: -999em;

    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    

    cursor: pointer;
    opacity: .4;

    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}
.banner .dots li.active {
    background: #fff;
    opacity: 1;
}


/* ------------------------------------------
  MAIN
--------------------------------------------- */

*:hover {
  transition: all .7s;
  -moz-transition: all .7s;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
}

.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}
.wrap {
  width: 1080px;
  margin: 0px auto;
  padding: 0px 0px 0px 0px;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体" ,sans-serif !important; 
  background: #fff;
  color: #403D3A;
}

.wrap .hotel-logo {
  padding: 40px 0px;
  text-align: center
}

.wrap .nav-collapse a {
  font-size: 1.6em
}

.wrap >.panel-default {
  width: 60%;
  line-height: 1.5;
  font-size: 1.6em;
  margin-top: 40px;
}
.wrap .banner {
  position: relative;
}


.wrap .order {
  position: absolute;
  right: 40px;
  bottom: 20px;
  text-align: center;
  color: #fff;
  border: 5px solid rgba(255,255,255,0.6);
  
}

.wrap .order a {
  display: block;
  background: rgba(0,0,0,0.8);
  padding: 20px 40px;
  color: #fff;
  text-decoration: none;
}
.wrap .order a:hover {
  background: #2ecc71;
}

.about .banner, .room .banner, .order .banner {
  float: left;
  overflow: hidden;
  
}
.about .banner #hotelDescription {
  position: absolute;
  background: rgba(255,255,255,0.6);
  width: 800px;
  right: 40px;
  bottom: 40px;
  padding: 40px;
  border: 5px solid rgba(255,255,255,0.4);
  font-size: 1.4em;
  color: #fff;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}
.about .banner #hotelDescription h2 {
  margin-bottom: 20px;
  border-bottom: 1px dashed rgba(255,255,255,0.4);
  padding-bottom: 10px;
}

.panel {
  border: none;
}
.panel-default > .panel-heading {
  border: none;
  background: #403D3A;
  color: #fff;
}
.panel-body {
  background: #eee;
}

.room #hotelDescription {
  padding: 60px 40px 20px 40px;
  overflow: hidden;
  background: #403D3A;
  color: #fff; 
}
.room #hotelDescription article {
  overflow: hidden;
  margin-bottom: 40px;
  font-size: 1.3em;
}
.room #hotelDescription img {
  float: left;
  margin-right: 40px;
}
.room #hotelDescription h3 {
  display: inline-block;
  width: 10%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  margin: 10px 0 10px 0px;
}
.order .banner #hotelDescription {
  width: 400px;
  bottom: 160px !important;
  overflow: hidden;
}
.order input {
  display: block;
  width: 300px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  font-size: 1.4em; 
  color: #666
}
.order input[type=button] {
  background: #5cb85c;
  color: #fff;
}


#footer {
  margin-top: 40px;
}

#footer .panel-body {
   text-align: center;
   color: #666;
   font-size: 1.4em;
}

#footer #hoteldescription {
  border: none;
  background: #eee;
  border-radius: 0px;
}

.about #footer {
  margin-top: 500px;
}

#hotelDescription select { color: #333; }
